.quadro {
    width: 500px;
    height: 4000px;
    border: 1px solid gray;
}

.quadrado {
    width: 100px;
    height: 100px;
}

.quadrado-red {
background-color: red;
width: 500px;
position: sticky;
top: 0px;
}

.quadrado-blue {
background-color: blue;

top: 0;

}

.quadrado-green {
background-color: green;
}